[Unit]
Description=RitePath kiosk session for %i
After=systemd-user-sessions.service network-online.target
Wants=network-online.target

[Service]
Type=simple
User=%i
WorkingDirectory=/home/%i/Ritepath-kisok
Environment=HOME=/home/%i
Environment=PATH=/usr/local/bin:/usr/bin:/bin:/usr/local/sbin:/usr/sbin
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/%i/.Xauthority
StandardInput=tty
StandardOutput=journal
StandardError=journal
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
ExecStart=/usr/bin/startx /bin/bash /home/%i/Ritepath-kisok/linux/ritepath-kiosk-session.sh -- :0 vt1 -nolisten tcp -nocursor
Restart=always
RestartSec=5
KillMode=control-group

[Install]
WantedBy=multi-user.target
